<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>历史结果</title>
<style>
table{text-align:center;}
table td{border-right:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; height:46px;}
</style>
</head>

<body style="font-size:14px;">
<div style="margin:0 auto;">
<table border="0" cellpadding="0" cellspacing="0" style="border-left:1px solid #e5e5e5;width:100%;">
	<tr style="background:#F9F9F9;">
      <td style="width:160px;">期号</td>
      <td>显示号码</td>
    </tr>
    <% if( dateList != null && dateList.~size > 0 ){var i=0;%>
	<% for(item in dateList){if(i<56){%>
	<tr>
	  <td>
	  	<div style="color:#999; font-size:16px;line-height:30px;">${strutil.subStr(item.qiNum,8)}期</div>
	  	<div style="line-height:30px;">${strutil.subStr(item.creantime,11)}</div>
	  </td>
      <td>
	  		<div style="margin:0px auto; width:110px; margin-top:10px;">
				<div style="float:left;"><img src="${BASE_PATH}images/${item.firstNum}.png"/></div>
				<div style="float:left; margin-left:5px;"><img src="${BASE_PATH}images/${item.secondNum}.png"/></div>
				<div style="float:left; margin-left:5px;"><img src="${BASE_PATH}images/${item.threeNum}.png"/></div>
				<div style="clear:both;"></div>
			</div>
			<div style="width: 110px; margin: 0 auto; text-align:center;">
				<div style="float:left; width:32px; line-height:32px;">${item.allNum}</div>
				<div style="float:left; width:32px; line-height:32px; margin-left:5px;">${item.bigorsam}</div>
				<div style="float:left; width:32px; line-height:32px; margin-left:5px;">${item.onlyAll}</div>
				<div style="clear:both;"></div>
			</div>
	  </td>
    </tr>
	<%i++;}else{break;}}}%>
    
  </table>
</div>
</body>
</html>
